:global(.ui) {
    :local(.comment) {
        overflow: auto;
    }
}
.reactionQuantity {
    font-size: 10px;
}

.deleteComment:hover,
.deleteComment:active {
    color: #db2828 !important;
}

.editComment:hover,
.deleteComment:active {
    color: #4183c4 !important;
}

.editCommentInput {
    border: none !important;
    padding: 3.5px 0 7px 0 !important;
}

.commentWrapper {
    margin-bottom: 15px;
}

.likeListDropdown {
    color: rgba(0,0,0,.4); 
    font-size: 11px;
    margin-top: 5px;
}

.statusBar {
    display: block !important;
    font-size: 0.7rem !important;
    font-weight: 600;
    margin: 3px 0 0 0 !important;
}