:local(.threadContent) {
    width: 500px;
    margin: 20px auto;
}

:local(.addPostForm) {
    margin-top: 20px;
}

:local(.toolbar) {
    margin: 20px 0;
    display: inline-block;
}

:local(.toolbarRadio) {
    margin: 20px 0 20px 15px;
    display: inline-block;
}
