:local(.headerWrp) {
    background-color: white;
    padding: 1em 0;
}

:global(.ui.icon.button):local(.logoutBtn) {
    border: none;
    box-shadow: none;
}

.status {
    margin-left: 60px;
    font-size: 0.9rem;
    cursor: text;
}

.editStatusForm {
    height: 17px;
    font-size: 0.9rem !important;
    margin-left: 60px;
}

.editStatusInput {
    border: none !important;
    padding: 0 !important;
}
